main{
    color: rgb(62, 230, 40);
    font-size: 30px;
    background-color: blue;
}
div{
    color: rgb(228, 214, 27);
    font-size: 15px;
    background-color: rgb(226, 43, 113);
}
body{
    background-color: rgb(255, 255, 255);
}
